#side_bar{
    background-color: #eee;
    min-width: 200px;
    height: 100vh;
    flex: 1.5;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px;
    font-size: 18px;
}

#completed_tasks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}

#completed_tasks:hover{
    background-color: #ddd;

}

.project-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.project-container:hover{
    background-color: #ddd;
}